html {
    font-family: arial, sans-serif;
}
table {
    border-collapse: collapse;
    border: 1px solid #ccc;
}
.error {
    color: #c20;
}
tr:hover > td {
    background: #ddd;
}
th, td{
    padding: 2px 4px;
    border: 1px solid #ccc;
}
th {
    text-align: left;
}
td {
    vertical-align: top;
}
textarea {
    -webkit-box-sizing: border-box; /* safari 3, lol */
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    resize: vertical;
    height: 200px;
}
.checkboxList {
    display: table;
}
label {
    font-size: 12px;
    line-height: 1;
    display: block;
}
label:hover {
    background: #ddd;
}